* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #030514;
    background-image: url("/imagenes/starrysky.jpg");
    background-size: contain;
    font-family: 'Chakra Petch', sans-serif;
}


.container-main {
    border: 1px solid transparent;
    height: 100vh;
    background-image: url("/imagenes/pixelTwo.jpg");
    background-size: cover;
}

.container-header {
    /* border: 1px solid red; */
    position: fixed;
    margin: -1px;
    width: 100vw;
    z-index: 100;
}

.nav-bar {
    /* border: 2px solid green; */
    display: flex;
    position: relative;
    width: 100vw;
    float: right;
    background: linear-gradient(to bottom, #090824, transparent);
}

.nav-a-logo {
    /* border: 1px solid purple; */
    display: flex;
    margin: 20px 80px;
    width: fit-content;
    height: 3em;
}


.nav-logo {
    /* border: 1px solid green; */
}

/* .container-menu {
    border: 1px solid orange;
    position: relative;
    left: 50%;
    text-align: center;
} */

/* .container-menu ul {
    display: flex;
    margin: 2em;
} */

.nav-bar ul{
    /* border: 1px solid blue; */
    position: absolute;
    right: 5%;
    top: 25%;
    bottom: 25%;
    list-style: none;
    /* overflow: hidden; */
}

/* .container-menu ul li {
    border: 1px solid purple;
    width: fit-content;
    margin-left: 2em;
    list-style: none;
    font-weight: bolder;
} */

.nav-bar ul li {
    float: left;
    font-size: 16px;
    padding-left: 1em;
}

/* .container-menu a {
    color: white;
    text-decoration: none;
} */

.nav-bar ul li a {
    /* border: 1px solid red; */
    display: block;
    padding: 7px 20px;
    text-decoration: none;
    color: white;
    transition-duration: 800ms;
}

/* .container-menu a:hover {
    border-bottom: 2px solid #BB8FCE;
    color: #BB8FCE;
} */

.nav-bar ul li a:hover {
    /* border-bottom: 2px solid #9966af; */
    background-color: #12104D;
    border-radius: 5px;
    color: white;
}

.container-encabezados {
    width: fit-content;
    margin: 30vh auto;
}


.container-encabezados h1{
    /* border: 1px solid red; */

    font-size: 3em;
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: white;
}

.container-encabezados h3 {
    /* margin-top: -20px; */
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-style: italic;
    color: #85929E;
}

.container-main-arrow {
    /* border: 1px solid red; */
    border-radius: 50%;
    background-color: white;
    display: flex;
    width: fit-content;
    margin: 22% auto;
}

.container-main-arrow img {
    margin: 0 auto;
    width: 3em;
    transform: rotate(180deg);
}



.container-body {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 70%;
    color: white;
    position: relative;
}

.container-body img {
    position: absolute;
}

.container-body-img-one {
    width: 35%;
    left: -5%;
    top: -10%;
}

.container-body-img-two {
    width: 20%;
    right: -18%;
    top: 60%;
}

.container-body-img-three {
    width: 25%;
    top: 35%;
    left: -15%;
    transform: rotate(-20deg);
    z-index: -1;
}

.container-body-img-four {
    width: 25%;
    bottom: -5%;
    left: -10%;
    z-index: -1;
}

.div-de-chill {
    height: 100px;
}

.container-info section {
    margin-top: 2em;
    /* border: 1px solid green; */
    padding: 3em 2em 5em;
    border-radius: 1em;
    position: relative;
    /* background: linear-gradient(to right, #12104D, transparent); */
    background: linear-gradient(to right, rgba(18, 16, 77, 0.7), transparent);
    transition: 1s;
}


.container-info section:hover {
    /* background: linear-gradient(to left, #2F104D, transparent); */
    background-color: #301946;
}


.container-info h2 {
    /* border: 1px solid purple; */
    width: 20em;
    margin: 3em auto 1.5em;
    text-align: center;
    font-size: 2em;
    font-family: 'Share Tech Mono', monospace;
}

.container-info section h3 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    letter-spacing: 8px;
    text-align: center;
}

.container-info section h3, p{
    margin-bottom: 1em;
}

.section-button {
    position: absolute;
    right: 5%;
    background-color: #ED9115;
    padding: 1em 2em;
    border-radius: 1em;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder;
    border-style: none;
    transition-duration: 600ms;
}

.section-button:hover {
    background-color: #FFC90E;
    cursor: pointer;
}

.modalbox-radi {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modalbox-radi:target {
    visibility: visible;
    z-index: 100;
}

.modalbox-radi-content {
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    display: inline-flex;
}

.modalbox-radi-content img {
    /* border: 1px solid red; */
    width: 20%;
    margin-top: 7%;
    margin-left: 5%;
    
}

.modalbox-radi-info{
    /* border: 1px solid green; */
    color: black;
    width: 70%;
    height: fit-content;
    margin-left: 35%;
    margin-top: 10%;
    padding: 2em;
}






footer {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    color: white;
    text-align: center;
}

